*{
    padding: 0px;
    margin: 0px;
    height: 100%;
   
}

#terrain {
    padding: 0px;
    margin: 2px;
    background-color: #fed2b8;
    width: 100%;
   display: flex;
}

#pool {
    width: 642px;
    height: 482px;
    border: 6px solid #71838a;
    border-radius: 1%;
    background-color: #01aaba;
    margin: auto;
    box-sizing: border-box;
    position: relative;
}

#target{
    width: 10px;
    height: 10px;
    background-color: #01aaba;
    position: absolute;
    left: 0px;
    top: 0px;

 }
#character {
    width: 10px;
    height: 10px;
    background-color: #fdce71   ;
    border-radius: 150%;
    position: absolute;
    left: 310px;
    top: 230px;
    animation-duration: 1s;
    animation-name: slidein;
}
.youwon {
    transition: all 2s;
    
}

